description = "Default layout"
useContent = 1
default = 0
==
<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">

	<title>{{ this.theme.landing_1_title }}</title>
	<meta name="description" content="{{ this.theme.landing_1_description }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="icon" href="{{ 'assets/favicon/favicon.png' | theme }}">

	<link href="{{ 'assets/css/theme.min.css' | theme }}" rel="stylesheet">
	{# Uncomment to view plugins CSS assets for preprocessor styles import
	{% styles %}
	#}

</head>

<body class="is_{{ this.page.id }}{{ class ? ' ' ~ class }}">
